name: auto

on: [push]

jobs:
  cancel-previous-workflows:
    runs-on: macos-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          workflow_id: ci.yml
          access_token: ${{ github.token }}
