name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Unit tests
        run: yarn test:unit

      - name: Build
        run: yarn build

      - name: Integration tests
        run: yarn test:integration test/rest-api/basic.test.ts
