name: release

on:
  schedule:
    - cron: '0 23 * * *'

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Unit tests
        run: yarn test:unit

      - name: Build
        run: yarn build

      - name: Integration tests
        run: yarn test:integration

      - name: Publish
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
