name: release

on:
  schedule:
    - cron: '0 23 * * *'

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.14.0
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Unit tests
        run: yarn test:unit

      - name: Build
        run: yarn build

      - name: Integration tests
        run: yarn test:integration

      - name: Publish
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
